@import url("https://fonts.googleapis.com/css2?family=Karla:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");

.scroll {
    width:300px;
    height:300px;
    overflow:scroll;
    padding:5px;

}
.window {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FFF5FC;
}

.container {
    display:flex;
    justify-content: center;
    align-items:center
}

.imageInfo {
    display:flex;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
    font-family: 'Karla', sans-serif;
    font-weight: 700;
}


#form {
    padding: 6px 20px;
    margin: 6px 0;
    border-radius: 10px;
}

#screen-list2 {
    background-color: #f5dadf;
    padding: 2em;
    font-family: 'Karla', sans-serif;
    font-size: 1em;
    font-weight: 400;
}

#pokeImage {
    border: 5px solid #f5dadf;
}

.info-buttons {
    padding: 2em;
}
.buttonStyle {
    background-color: #8e9ffa;
    color: white;
    padding: 1em 2em;
    border: none;
    border-radius: 8px;
    font-weight: 700;
    font-family: 'Karla', sans-serif;
}